table,th,td{
    border-style:solid;
   border-collapse: collapse;
   margin-left: auto;
    margin-right: auto;
    
}
body{
    background-image: linear-gradient(180deg,hsla(216, 79%, 40%, 0.996),#cce3af);
}
